<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kResPathAppBaseUrl</key>
	<string>http://211.149.244.248:8032/</string>
	<key>kResPathAppImageUrl</key>
	<string>http://211.149.244.248:8032/</string>
</dict>
</plist>
